@import './fonts.scss';

html {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto;
}

.text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;

  &-large {
    font-size: 36px;
    line-height: 42px;    
  }

  &-medium {
    font-size: 24px;
    line-height: 28px;
  }

  &-small {
    font-size: 20px;
    line-height: 24px;;
  }
}

.buttons {
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;

  width: 100%;

  padding: 0 150px;

  .button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 275px;
    height: 73px;

    margin-right: 25px;
    margin-bottom: 25px;

    border-radius: 10px;
    border: none;

    user-select: none;
    outline: none;
    
    cursor: pointer;

    &:target {
      border: none;
    }

    &.update,
    &.add,
    &.close {
      background: rgba(#2D68FF, .1);
      color: #2D68FF;
    }

    &.save,
    &.continue {
      background: linear-gradient(180deg, #00A3FF 0%, rgba(0, 163, 255, 0) 100%), #2D68FF;
      color: #fff;
    }

    &.remove {
      background: #FF2B5E;
      color: #fff;
    }
  }
}

.input {
  display: flex;
  flex-direction: column;

  height: 140px;
  width: auto;

  margin-left: 32px;
  margin-bottom: 30px;

  overflow: visible;

  label {
    margin-bottom: 19px;
    margin-left: 10px;

    color: #8D8D8D;
  }

  input,
  select {
    height: 110px;
    padding: 34px 27px;

    border: 1px solid #E1E1E1
  }

  input:focus,
  select:focus {
    outline: none;
    border: 2px solid #00A3FF;
  }

  &-text {
    &__input {
      width: 541px;
      border-radius: 20px;
    }
  }

  &-select {
    &__select {
      width: 541px;
      border-radius: 20px;

      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;

      background-color: #fff;

      background-image: url('./../icons/arrow-down.svg');
      background-repeat: no-repeat;
      background-position: right 42px top 50%, 0 0;
    }

    &__select[name="sex"] {
      min-height: 110px;
      min-width: 110px;
      background-position: right 10px top 50%, 0 0;
    }

    &__option {
    }
  }

  &-checkbox {
    &__input {
      width: 110px;
      height: 110px;
    }
  }
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 100%;
  height: 100%;

  position: absolute;

  background: rgba(#000000, .3);

  z-index: 1;

  &__window {
    position: relative;

    width: #{"max(50vw, 1000px)"};
    height: #{"max(50vh, 500px)"};

    border-radius: 20px;

    background: #fff;

    z-index: 2;
  }
}
